{
    "otgw": {
        "device": "/dev/ttyUSB0",
        "baudrate": 9600
    },
    "mqtt": {
        "url": "mqtt://test.mosquitto.org",
        "username": "user",
        "password": "pass",
        "topic": {
            "status": "status/otg",
            "log": "log/otg",
            "control": "control/otg",
            "values": "value/otg"
        }
    },
    "control_fields": {
        "temp_temporary": "tt",
        "temp_constant": "tc",
        "hot_water": "hw",
        "temp_outside": "ot",
        "raw": "raw"
    }
}