{
    "otgw": {
        "device": "/dev/ttyUSB0",
        "baudrate": 9600
    },
    "mqtt": {
        "url": "mqtt://test.mosquitto.org",
        "username": "user",
        "password": "pass",
        "topic": {
            "status": "status/otg",
            "log": "log/otg",
            "control": {
                "subscribe": "control/otg/#",
                "status": "control/otg/status",
                "temp_temporary": "control/otg/tt",
                "temp_constant": "control/otg/tc",
                "hot_water": "control/otg/hw",
                "temp_outside": "control/otg/ot"
            },
            "values": "value/otg"
        }
    }
}